.navbar-dark{
    background-color: #212121;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
body{
    background-color: whitesmoke;
}
.display-4{
    font-size: xx-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-align: center;
}
.card{
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    padding-top: 25px;
    margin-top: 5vh;
    font-size: small;
}
.card-img-top {
    height: 40vh;
    object-fit: contain;
    align-self: center;
    max-height: 100px;
    max-width: 100px;
    }
.jumbotron{
    background-image: linear-gradient(to right, #e9ecef, whitesmoke);
    padding-top: 28px;
    max-height: 100px;
}