body{
    background-image: url('/static/Images/login.png');
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width: 700px) {
    body{
        background-image: none;
    }
}
.navbar-dark{
    background-color: #212121;
    position: relative;
}
h2{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
.display-4{
    font-size: xx-large;
}
label{
    margin-left: 5px;
}
#nav-exclude{
    padding-top: 5vh;
}
#login{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin-top: 2vh;
    transform: translate(-50%);
    font-size: smaller;
    color: whitesmoke;
    text-shadow: whitesmoke;
    max-width: 250px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #212121;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #212121;
    background-color: #212121;
}
#register{
    font-size: smaller;
    color: whitesmoke;
    text-shadow: white;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    padding: 10px 20px 10px 20px;
    border: 1px solid #212121;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #212121;
    background-color: #212121;
}
#gender, #name, #dob, #contact, #Country, #email, #pass, #npass, #rtpass, #submit{
    font-size: small;
}
