.navbar-dark{
    background-color: #212121;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
h2{
    text-align: center;
    font-size: x-large;
}
body{
    background-color: whitesmoke;
}
.display-4{
    font-size: xx-large;
}
label{
    margin-left: 5px;
}
#nav-exclude{
    padding-top: 5vh;
}
#login{
    font-size: smaller;
    color: #212121;
    text-shadow: white;
    max-width: 250px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px 10px 20px;
    border: 1px solid #eaecef;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #212121;
    background-color: #f6f8fa;
}
#register{
    font-size: smaller;
    color: #212121;
    text-shadow: white;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px 10px 20px;
    border: 1px solid #eaecef;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #212121;
    background-color: #f6f8fa;
}
#gender, #name, #dob, #contact, #Country, #email, #pass, #npass, #rtpass, #submit{
    font-size: small;
}
