.navbar-dark{
    background-color: #212121;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
body{
    background-color: whitesmoke;
}
.display-4{
    font-size: x-large;
    padding-bottom: 15px;
}
#liver, #breast-cancer, #BMI{
    font-size: small;
    box-shadow: 3px 3px 8px #888888;
    border-radius: 5px;
    background-image: linear-gradient(rgba(255, 218, 185, 0.3), peachpuff);
    padding: 10px 10px 2px 10px;
    color: #212121;
}
label{
    padding-left: 5px;
}
h3{
    padding-top: 10px;
    text-align: center;
    background-color: #212121;
    color: whitesmoke;
    border-radius: 5px;
}
.form-control{
    font-size: small;
}