.navbar-dark{
    background-color: #212121;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
body{
    background-color: whitesmoke;
}
a{
    text-align: center;
}
.card{
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    padding-top: 25px;
    margin-top: 5vh;
    font-size: small;
}
.card-img-top {
    height: 40vh;
    object-fit: contain;
    align-self: center;
    max-height: 100px;
    max-width: 100px;
    }
.jumbotron{
    padding-top: auto;
    padding-bottom: auto;
    max-height: 100px;
}