.navbar-dark{
    background-color: #212121;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
body{
    background-color: whitesmoke;
}
.display-4{
    font-size: x-large;
}
label{
    margin-left: 5px;
}
#BMI{
    float: right;
    margin-right: 50px;
    max-width: 375px;
    box-shadow: 3px 3px 8px #888888;
    border-radius: 5px;
    background-color: #f5f5f5 ;
    padding: 20px 10px 20px 10px;
    font-size: small;
    color: #212121;
}
h3{
    text-align: center;
}
#Fname{
    font-size: small;
}
#Lname{
    font-size: small;
}
#Email{
    font-size: small;
}
#age{
    font-size: small;
}
#Feet{
    font-size: small;
}
#Inches{
    font-size: small;
}
#Weight{
    font-size: small;
}
#Country{
    font-size: small;
}
#Gender{
    font-size: small;
}
#submit{
    font-size: small;
}
#Layer_1{
    padding-left: 0px;
}
#brain{
    align-content: left;
}